/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--font-color);
  background-color: var(--bg-color);
  max-width: 1024px;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  width: 100%;
  position: relative;
  padding-block-start: 20px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  height: 100vh;
}

.header_angle_top:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 0;
}

.header_angle_top:after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 0;
}

.header_angle_bottom:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header_angle_bottom:after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* header::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 0;
  
  
} */

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  padding: 3px 13px;
  cursor: pointer;
  box-sizing: content-box;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.bulb {
  color: var(--bulb-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  text-transform: uppercase;
  right: 20px;
  top: 20px;
  display: flex;
}

.bulb::after {
  content: "";
  margin-left: 17px;
  position: relative;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px var(--bulb-color);
  background-color: var(--bulb-color);
  border-radius: 50%;
  top: 7px;
  right: 10px;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow-color);
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.title__header {
  /* margin-block-start: 27%; */
  margin-inline-start: 0px;
  position: relative;
  left: 0;
  align-self: center;
}

.subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitle-font-color);
  background-color: var(--marker-color);
  margin-block-end: 20px;
}

.subtitle__header {
  justify-self: end;
  width: 50%;
  height: fit-content;
  align-self: start;
  margin-inline-end: 20px;
}

.main {
  margin-block: 60px;
  padding-inline: 20px;
}

.main__container {
  margin-block: 80px;
}

.main__content__inline {
  grid-column: 2 / 3;
}

.main__container__inlines {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 23.9px repeat();
  gap: 20px;
}

.main__container__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__title__block {
  grid-column: 1 / 4;
}

.section__title {
  color: var(--accent-color);
}

.section_subtitle {
  margin-block-end: 10px;
}

.section__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.section_subtitle_with_title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 60px;
}



.main__subtitle {
  margin-block-end: 20px;
}

.sunset {
  background-image: url(../images/sunset.png);
  background-size: cover;
  grid-column: 1/3;
}

.ice-cream{
  height: 595px;
  background-image: url(../images/ice-cream.png);
  grid-row: 1/3;
  grid-column: 3/4;
  background-size: cover;
  background-position: center;
}

.tape {
  grid-row: 2/4;
  grid-column: 1/2;
  background-image: url(../images/tape.png);
  background-size: cover;
  background-position: center;
}

.books {
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: url(../images/books.png);
  background-size: cover;
  background-position: center;
}

.street {
  grid-row: 3/4;
  grid-column: 2/4;
  background-image: url(../images/street.png);
  background-size: cover;
  background-position: center;
}

.footer__containeer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__footer {
  color: var(--font-color);
text-shadow: 2px 2px 0px var(--title-shadow-color);
font-family: IBM Plex Mono;
font-size: 157px;
font-style: normal;
font-weight: 700;
line-height: 82.5%; /* 129.525px */
}