/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
  --ears: 20px;
  --block-interval: 60px;
  --block-interval-end: 60px;
  --main-font: "IBM Plex Mono";
  --main-font-size: 18px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--font-color);
  background-color: var(--bg-color);
  max-width: 1024px;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  width: 100%;
  position: relative;
  padding-block-start: var(--ears);
  display: grid;
  grid-template-rows: repeat(3, auto);
  height: 100vh;
}

.header_angle_top {
  content: "";
  width: 25px;
  height: 1px;
  background-color: var(--accent-color);
  position: absolute;
  top: var(--ears);
  right: var(--ears);
}

.header_angle_top:after {
  content: "";
  width: 1px;
  height: 25px;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
}

.header_angle_bottom {
  content: "";
  width: 25px;
  height: 1px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: var(--ears);
  left: var(--ears);
}

.header_angle_bottom:after {
  content: "";
  width: 1px;
  height: 25px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  position: relative;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  padding: 3px 13px;
  cursor: pointer;
  box-sizing: content-box;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-button);
  /* opacity: 40%; */
  /* pointer-events: none; */
  /* box-sizing: border-box; */
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
  box-sizing: border-box;
}

.bulb {
  color: var(--bulb-color);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  text-transform: uppercase;
  right: 23px;
  top: 20px;
  display: var(--bulb-switch);
}

.bulb::after {
  content: "";
  margin-left: 17px;
  position: relative;
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 5px 3px var(--bulb-color);
  background-color: var(--bulb-color);
  border-radius: 50%;
  top: 8px;
  right: 6px;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow-color);
  font-size: clamp(120px, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.title__header {
  position: relative;
  align-self: center;
}

.subtitle {
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitle-font-color);
  background-color: var(--marker-color);
  margin-block-end: var(--ears);
}

.subtitle__header {
  position: relative;
  justify-self: end;
  width: 48%;
  height: fit-content;
  align-self: center;
  margin-inline-end: var(--ears);
  bottom: 39px;
}

.main {
  margin-block: var(--block-interval);
  padding-inline: var(--ears);
}

.main__container {
  margin-block-start: var(--block-interval-end);
  margin-block-end: 69px;
}

.main__content__inline {
  grid-column: 2 / 3;
}

.main__container__inlines {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 23.9px repeat(); */
  gap: 10px;
}

.main__container__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__title__block {
  width: 33%;
  grid-column: 1 / 4;
}

.section__title__inlines {
  grid-row: 1 / 3;
}

.section__title {
  color: var(--accent-color);
  font-size: var(--main-font-size);
}

.section_subtitle {
  margin-block-end: 10px;
}

.section__text {
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-block: 10px;
}

.section__text__link {
  text-shadow: 2px 2px var(--marker-color);
  text-decoration: none;
  transition: border-bottom 4s;
}

.section__text__link:hover {
  border-bottom: 1px solid;
}
.section__text__link:focus {
  outline: none;
}
.section__text__link:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 0px;
}

.section_subtitle_with_title {
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: var(--block-interval);
}

.main__subtitle {
  margin-block-end: 12px;
  align-self: start;
}

.gallery__object {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset {
  grid-column: 1/3;
  max-height: 260px;
}

.ice-cream {
  grid-row: 1/3;
  grid-column: 3/4;
  max-height: 595px;
}

.tape {
  grid-row: 2/4;
  grid-column: 1/2;
  max-height: 768px;
}

.books {
  grid-row: 2/3;
  grid-column: 2/3;
  max-height: 315px;
}

.street {
  grid-row: 3/4;
  grid-column: 2/4;
  max-height: 428px;
}

.footer__containeer {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__footer {
  color: var(--font-color);
  text-shadow: 2px 2px 0px var(--title-shadow-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    align-items: end;
    margin-inline-end: 20px;
    margin-block-start: 73px;
    display: flex;
    flex-direction: column;
  }
  .title__header {
    bottom: 24px;
  }
  .subtitle__header {
    width: 47%;
    bottom: 63px;
  }
  .section_subtitle {
    margin-block-end: 0px;
  }
  .section__text {
    margin-block-end: 0px;
  }
  .main__container__block {
    margin-block-start: 81px;
    display: flex;
    flex-direction: column;
  }
  .main__subtitle {
    margin-block-end: 0px;
  }
  .main__container__inlines {
    gap: 20px;
  }
  .main__container {
    margin-block-end: 80px;
  }
  .section__title__block {
    max-width: 135px;
  }
}

@media (max-width: 375px) {
  :root {
    --ears: 10px;
    --block-interval: 40px;
    --block-interval-end: 40px;
  }

  .header {
    padding-block-end: 15%;
  }

  .bulb {
    right: 12px;
    top: 10px;
  }

  .header__theme-menu-list {
    margin-block-start: 11%;
    margin-inline-end: 10px;
  }

  .main__container__inlines {
    display: flex;
    flex-direction: column;
  }
  .title__footer {
    font-size: clamp(116px, 7.0115rem + 1.0178vw, 120px);
  }
  .title__header {
    font-size: 116px;
    max-width: 355px;
    top: 20px;
    left: 10px;
  }

  .subtitle__header {
    width: 95%;
    margin-inline-start: var(--ears);
    top: 25px;
  }

  .main__container {
    margin-block-end: 51px;
  }

  .main__container__block {
    margin-block-start: 51px;
  }

  .section__title__block {
    min-width: 100%;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  .books {
    padding-block-end: 100%;
  }
}
